<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyAccessedAPIs</key>
	<string>Access camera and microphone settings for video recording and audio capture in BODYCam. We do not collect any user data.</string>
</dict>
</plist>
